#background_page {
    background-image: linear-gradient(to top right, #97ABFF, #123597)
}

#my_image {
    align-content: center;
    border-radius: 50%;
    display: block;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid #fff;
    height: 200px;
    width: 200px;
}

#pdf_viewer {
    display: block;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto; 
    zoom: 1.1;
}

#text_name {
    text-align: center;
    font-family: "Avenir";
    font-weight: lighter;
    opacity: 0.89;
    font-size: 32px;
    color: #ffffff
}

#registration_number_text {
    text-align: center;
    font-family: "Avenir";
    font-weight: lighter;
    opacity: 0.89;
    font-size: 18px;
    margin-top: -15px;
    color: #ffffff
}

#information_text {
    text-align: center;
    font-family: "Avenir";
    font-weight: lighter;
    opacity: 0.89;
    font-size: 18px;
    margin-top:-5px;
    color: #ffffff
}

